selector {
  property: value;
}

body {
color: rgb(65,75,86);

margin: 0px;
background-color: black;

}
div {
  min-height: 20vh;
  width: 100vw;
}

h1 {
  text-align: center;
  color: Purple;
  font-size: 5em;
  font-family: fantasy;
}
h2 {
  text-align: left;
  font-size: 2.5em}
  h3 {
    text-align: left;
    font-size: 2em
  }
h4{
font-size: 1.25em}
img {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 130px;
}
p {
font-family: arial;
  font-size: 1.20em;

}
ul{
  list-style:;
  padding: 2;
  font-size: 1.5em;
}
