selector {
  property: value;
}

body {
color: rgb(65,75,86);
font-family: arial;
margin: 0px;
}
div {
  min-height: 50vh;
  width: 50vw
}
h1, h2 {
  text-align: center;
}
h1 {
  color: purple;
  font-size: 5em;
}
h2 {
  font-size: 2.5em;
}
img {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border-radius: 130px;
}
p {
  width: 50%;
  margin: 10vh 10vw;
  font-size: 2em;
}
